@model List<Propietario>
@{
    ViewData["Title"] = "Propietarios";
}

<div class="text-center">
    <h1 class="display-4">Lista de Propietarios(@Model.Count)</h1>
    <p>

    <a asp-action="Create"><i class="fa-solid fa-user-plus" style="color: #129b22;">Agregar</i></a>
    </p>
    <table class="table mt-5">
        <tr class="encabezado">
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Dni</th>
            <th>Telefono</th>
            <th>Acciones</th>
        </tr>
            @foreach(var p in Model){
            <tr>
                <td>@p.IdPropietario</td>
                <td> @p.Nombre</td>
                <td> @p.Apellido</td>
                <td> @p.Dni</td>
                <td> @p.Telefono</td>
                <td>
                   <a asp-action="Editar" asp-route-id="@p.IdPropietario" title="Editar"><span class="fa-solid fa-user-pen" style="color: #558b35;"></span></a>
                   <a asp-action="Eliminar" asp-route-id="@p.IdPropietario" title="Eliminar" onclick="return confirm('¿Estás seguro de que deseas eliminar este elemento?');">
                    <span class="fa-solid fa-trash-arrow-up" style="color: #ea603e;"></span></a>
                   
                    <a asp-action="Detalles" asp-route-id="@p.IdPropietario" title="Detalles"> <span class="fa-solid fa-circle-info" style="color: #4ea9bc;"></span></a>
                    <td>
                

            </tr>
            }

    </table>
    
    
</div>
