@model Inmobiliaria.Models.Pago

@{
    ViewData["Title"] = "Eliminar pago";
}

<h1>Eliminar pago</h1>

<h3>¿Esta seguro que desea eliminar el pago?</h3>
<div>
    <h4>Pago</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdContrato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdContrato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroDePago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroDePago)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaDePago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaDePago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Monto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Monto)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
