@model Inmobiliaria.Models.Pago

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div>
    <h4>Pago</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdContrato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdContrato)
        </dd>
         <dt class = "col-sm-2">
           Contrato
        </dt>
        <dd class = "col-sm-10">
            @Html.Raw(Model.contrato.mensaje())
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Monto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Monto)
        </dd>



        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroDePago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroDePago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaDePago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaDePago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Monto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Monto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdPago" title="Detalles"><i class="fa-solid fa-pen-to-square mt-3"style="color: #558b35;">Editar</i></a><br>
    
    <a asp-action="Index"><i class="fa-solid fa-caret-left"> Volver</i></a>
</div>
