@model IEnumerable<Inmobiliaria.Models.Pago>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create"><i class="fa-solid fa-money-bill-wave">| Crear nuevo pago</i></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdContrato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroDePago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdContrato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroDePago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
            <td>
                 <a asp-action="Edit" asp-route-id="@item.IdPago" title="Detalles"><i class="fa-solid fa-pen-to-square" style="color: #558b35;"></i></a>
               
                <a asp-action="Details" asp-route-id="@item.IdPago" title="Detalles"><span class="fa-solid fa-circle-info" style="color: #4ea9bc;"></span></a>
                
                @if (User.IsInRole("Administrador") || User.IsInRole("SuperAdministrador"))
					{
                <a asp-action="Eliminar" asp-route-id="@item.IdPago" title="Eliminar">
                    <span class="fa-solid fa-trash-arrow-up" style="color: #ea603e;"></span></a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
