@model IEnumerable<Inmobiliaria.Models.Inquilino>

@{
    ViewData["Title"] = "Inquilinos";
}

<h1>Inquilinos</h1>

<p>
    <a asp-action="Create">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdInquilino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ciudad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdInquilino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ciudad)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdInquilino" title="Editar"><span class="fa-solid fa-user-pen" style="color: #558b35;"></span></a>
                @if (User.IsInRole("Administrador") || User.IsInRole("SuperAdministrador"))
					{
                 <a asp-action="Delete" asp-route-id="@item.IdInquilino" title="Eliminar">
                    <span class="fa-solid fa-trash-arrow-up" style="color: #ea603e;"></span></a>
                    }
                @Html.ActionLink("Detalles", "Details", new {id=item.IdInquilino }) |
               
            

            </td>
        </tr>
}
    </tbody>
</table>
